In [1]:
print("hello World")

hello World

In [2]:
print(spark)

NameError: name 'spark' is not defined

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg

data = [
    (1, "A", 100),
    (2, "A", 200),
    (3, "B", 300),
    (4, "B", 400),
    (5, "C", 500)
]

columns = ["id", "category", "amount"]

df = spark.createDataFrame(data, columns)
df.show()

NameError: name 'spark' is not defined

In [4]:
from pyspark.sql import SparkSession

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg
spark = SparkSession.builder.getOrCreate()

data = [
    (1, "A", 100),
    (2, "A", 200),
    (3, "B", 300),
    (4, "B", 400),
    (5, "C", 500)
]

columns = ["id", "category", "amount"]

df = spark.createDataFrame(data, columns)
df.show()

+---+--------+------+
| id|category|amount|
+---+--------+------+
|  1|       A|   100|
|  2|       A|   200|
|  3|       B|   300|
|  4|       B|   400|
|  5|       C|   500|
+---+--------+------+